APP_NAME=Customer Health Projection Agent API
APP_VERSION=0.1.0
ENVIRONMENT=local
DATABASE_URL=postgresql+psycopg://customer_health:customer_health@localhost:5432/customer_health
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

DOCKER_DATABASE_URL=postgresql+psycopg://customer_health:customer_health@postgres:5432/customer_health
DOCKER_REDIS_URL=redis://redis:6379/0
